<html>
<body>
<p class="p1"><span class="s1">Thank you for supporting Pulselabz!</span></p>
<p class="p1"><span class="s1">Your item has been shipped out and the tracking number is as follows:&nbsp;</span></p>
<p class="p1"><span class="s1" style="background-color: #ff9900;">{{ tracking }}</span></p>
<p class="p1"><span class="s1" style="background-color: #ff9900;">Carrier code: {{ shipping }}</span></p>
<p class="p1"><span class="s1">Please feel free to contact us at any time and we will be happy to assist you.&nbsp;</span></p>
<p class="p1"><span class="s1">Thank you,</span></p>
<p class="p1">Pulselabz Team</p>
<p class="p1">Follow us on <a href="https://www.instagram.com/pulselabz/">Instagram</a>, <a href="https://twitter.com/PulseLabz">Twitter</a>, and <a href="https://www.facebook.com/PulseLabz/">Facebook</a></p>
<p class="p1">&nbsp;</p>
</body>
</html>